//Variables
$primary: #ad910f;
$secondary: #17e3c5;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  min-height: 100vh;
}

footer {
  bottom: 0;
  width: 100%;
}
