.offcanvas-right-body {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  .carro-lista-offcanvas {
    flex: 3 1 10rem;
    h3 {
      margin: 0;
    }

    button,
    select {
      font-size: 1rem;
      padding: 0.5rem;
    }
  }

  .carro-container-offcanvas {
    padding: 1rem;
    list-style-type: none;
    li {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 0.1rem #c0c0c0 solid;

      &:first-child {
        align-items: flex-end;
      }
    }

    img {
      max-width: 4rem;
      max-height: 4rem;
    }
  }

  .carro-imagen-offcanvas {
    flex: 1 1;
  }

  .carro-nombre-offcanvas {
    flex: 8 1;
    a {
      text-decoration: none;
      &:hover {
        color: $secondary;
        text-decoration: underline;
      }
    }
  }

  .carro-precio-offcanvas {
    flex: 1 1;
  }

  .carro-nombre-offcanvas {
    flex: 8 1;
    a {
      text-decoration: none;
      &:hover {
        color: $secondary;
        text-decoration: underline;
      }
    }
  }

  .carro-accion-offcanvas {
    flex: 1 1 20rem;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    padding: 1rem;

    h3 {
      font-size: 20px;
    }
  }
}

.carro-nombre-offcanvas > div {
  padding: 1rem;
}
